package services

import (
	"context"
	"log/slog"

	"{{.Module}}/internal/core/ports"
)

type CRUDService[T any] struct {
	store  ports.CRUDStore[T]
	logger *slog.Logger
	entity string
}

func NewCRUDService[T any](store ports.CRUDStore[T], entity string, logger *slog.Logger) *CRUDService[T] {
	return &CRUDService[T]{
		store:  store,
		entity: entity,
		logger: logger,
	}
}

func (s *CRUDService[T]) Get(ctx context.Context, id string) (*T, error) {
	s.logger.Debug("fetching entity", "entity", s.entity, "id", id)
	v, err := s.store.Get(ctx, id)
	if err != nil {
		return nil, err
	}
	return &v, nil
}

func (s *CRUDService[T]) List(ctx context.Context, limit, offset int) ([]T, error) {
	s.logger.Debug("listing entities", "entity", s.entity, "limit", limit, "offset", offset)
	return s.store.List(ctx, limit, offset)
}

func (s *CRUDService[T]) Create(ctx context.Context, p T) (*T, error) {
	s.logger.Debug("creating entity", "entity", s.entity)
	v, err := s.store.Create(ctx, p)
	if err != nil {
		return nil, err
	}
	return &v, nil
}

func (s *CRUDService[T]) Update(ctx context.Context, p T) (*T, error) {
	s.logger.Debug("updating entity", "entity", s.entity)
	v, err := s.store.Update(ctx, p)
	if err != nil {
		return nil, err
	}
	return &v, nil
}

func (s *CRUDService[T]) Delete(ctx context.Context, id string) error {
	s.logger.Debug("deleting entity", "entity", s.entity, "id", id)
	return s.store.Delete(ctx, id)
}
